*{
	margin: 0;
	padding: 0;
}
#container{
	max-width: 100%;
	margin: 0 auto;
	padding: 0 30px;
}
.clear {
	clear: both;
}
.line-bar{
	margin: auto;
	width: 70%;
}
.commas{
	color: #f6921e;
}
.header-imgs > div{
	display: inline-block;
	margin-top: 10px;
}
.logo-img{
	width: 35%;
    margin-left: 25px;
}
.logo-img img{
	width: 425px;
    height: 83px;
}
.warr-img{
	width: 24%;
}
.usa-img{
	width: 23%;
}
.free-img{
	width: 5%;
}
.free-img img{
	margin-bottom: 12px;
}
.menu{
	margin: 12px;
	border-top: 5px solid #f6921e;
    border-bottom: 5px solid #f6921e;
}
.menu ul{
	list-style-type: none;
    display: grid;
  	grid-template-columns: repeat(5, 1fr);
  	column-gap: 10px;
}
.menu ul li{
	text-align: center;
    font-family: Calibri;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 10px 0px;
}
.menu ul li a{
	text-decoration: none;
	color: #45434a;
}
.first h1{
	text-align: center;
	color: #333333;
	font-size: 112px;
	font-family: Franklin Gothic Medium;
	font-style: italic;
}
.first p:nth-of-type(1){
	text-align: center;
	font-size: 60px;
	font-family: Franklin Gothic Medium;
	color: #231f20;
}
.first .big-img{
	float: left;
	width: 62%;
	margin-top: 50px;
}
.first .small-imgs-up{
	display: grid;
	grid-template-columns: repeat(4, auto);
}
.first .small-imgs-down{
	display: grid;
    margin: 0px 72px;
    grid-template-columns: repeat(3, 1fr);
}
.first form{
    float: left;
    font-size: 35px;
    font-weight: bold;
    color: #333333;
    margin-top: 68px;
    margin-left: 27px;
}
.first .box{
	width: 68%; 
	padding: 7px;
	margin-left: 115px;
}
.first .box:nth-of-type(2){
	margin-bottom: 25px;
}
.first h3{
    float: left;
    font-size: 20px;
    font-family: Swis721 Blk BT;
    color: #231f20;
    margin-left: 145px;
}
.first h3 font{
	font-size: 35px;
}
.first .add-to-cart{
    float: left;
    width: 26%;
    margin-left: 75px;
    margin-top: 15px;
}
.first .cards{
    float: left;
    width: 25%;
    margin-left: 95px;
}
.first .first-para{
	float: left;
    width: 100%;
    font-size: 40px;
    margin: 15px 0px;
}
.first .first-para:nth-of-type(5){
	margin-bottom: 35px;
}
.second h1{
	text-align: center;
	font-family: Franklin Gothic;
	font-size: 70px;
	margin-top: 25px;
	color: #333333
}
.second .bullets{
	margin: 35px 60px;
    font-size: 48px;
    color: #333333;
}
.second .bullets li{
	list-style-type: square;
}
.third{
	margin: 30px auto;
}
.third h1{
	font-size: 55px;
	font-family: Franklin Gothic;
	color: #333333;
}
.third p b{
	color: #333333;
}
.third .third-para{
	margin: 30px 0px;
	font-size: 48px;
}
.all-text h1{
	font-size: 50px;
	font-family: Franklin Gothic;
	color: #231f20;
	font-style: italic;
}
.all-text p{
	font-family: Garamond;
	font-size: 28px;
	font-style: italic;
}
.all-text pre{
	margin-top: 16px;
	font-family: Lucida;
	font-size: 20px;
	font-weight: bold;
	color: #231f20;
	text-transform: capitalize;
	font-variant: small-caps;
	letter-spacing: 2px;
}
.flex-container{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.flex-container > div{
	width: 35%;
	margin: 50px auto;
	text-align: center;
}

/*Media Queries*/
@media screen and (max-width: 1200px){
	.logo-img{
		width: 32%;
    	margin-left: 25px;
	}
	.logo-img img{
		width: 320px;
	}
	.warr-img{
		width: 23%;
	}
	.usa-img{
		width: 23%;
	}
	.free-img img{
		width: 330%;
	}
	#menu ul{
		list-style-type: none;
		float: left;
		margin: 15px;
	}
	#menu ul li{
		float: left;
  		padding: 15px 98px;
  		border-top: 5px solid #f6921e;
  		border-bottom: 5px solid #f6921e;
  		font-family: Calibri;
  		font-size: 20px;
  		font-weight: bold;
  		letter-spacing: 5px;
	}
	.first h1{
    	font-size: 85px;
	}
	.first p:nth-of-type(1){
		font-size: 46px;
	}
	.first form{
    	font-size: 28px;
	}
	.first .box{
    	margin-left: 90px;
	}
	.first h3{
    	font-size: 20px;
    	margin-left: 120px;
	}
	.first h3{
		font-size: 17px;
	}
	.first h3 font{
    	font-size: 29px;
	}
	.first .add-to-cart{
    	margin-left: 70px;
	}
	.first .cards{
		margin-left: 95px;
	}
	.first .first-para{
    	font-size: 35px;
    	margin: 12px 0px;
	}
	.second h1{
		font-size: 52px;
	}
	.second .bullets{
		font-size: 35px;
	}
	.third h1{
		font-size: 45px;
	}
	.third .third-para{
    	margin: 25px 0px;
    	font-size: 40px;
	}
	.all-text h1{
		font-size: 36px;
	}
	.all-text p{
		font-size: 24px;
	}
	.all-text pre{
		font-size: 20px;
		letter-spacing: 1px;
	}
}

@media screen and (max-width: 992px){
	.logo-img{
	    width: 96%;
    	text-align: center;
    	margin-top: 12px;
    	margin-bottom: 20px;
	}
	.warr-img{
		width: 38%;
	}
	.warr-img img{
		margin-left: 50px;
	}
	.usa-img{
		width: 32%;
	}
	.free-img{
		width: 10%;
	}
	.free-img img{
		width: 200px;
	}
	.first h1{
    	font-size: 68px;
	}
	.first p:nth-of-type(1){
		font-size: 37px;
	}
	.first form{
		font-size: 20px;
	}
	.first .box{
		margin-left: 65px;
	}
	.first h3 {
    	font-size: 13px;
    	margin-left: 93px;
	}
	.first h3 font {
    	font-size: 21px;
	}
	.first .add-to-cart {
    	margin-left: 80px;
	}
	.first .cards {
    	width: 24%;
    	margin-left: 90px;
	}
	.first .first-para{
		font-size: 28px;
		margin: 9px 0px;
	}
	.second h1{
		font-size: 38px;
	}
	.second .bullets{
		font-size: 28px;
	}
	.third h1{
		font-size: 37px;
	}
	.third .third-para{
    	margin: 20px 0px;
    	font-size: 30px;
	}
	.all-text h1{
		font-size: 32px;
	}
	.all-text p{
		font-size: 22px;
	}
	.all-text pre{
		font-size: 18px;
	}
}

@media screen and (max-width: 768px){
	.logo-img{
	    width: 95%;
	}
	.warr-img img{
		width: 165px;
		height: 76px;
	}
	.warr-img img{
		margin-left: 25px;
	}
	.usa-img{
		width: 37%;
	}
	.usa-img img{
		width: 165px;
		height: 76px;
	}
	.free-img img{
		width: 135px;
		height: 55px;
		margin-bottom: 12px;
	}
	.menu ul li {
    	font-size: 19px;
    	letter-spacing: 2px;
	}
	.first h1{
		font-size: 51px;
	}
	.first p:nth-of-type(1){
		font-size: 27px;
	}
	.first .big-img{
		float: none;
		width: 100%;
	}
	.first form{
   		float: none;
    	text-align: center;
    	font-size: 30px;
    	margin-top: 20px;
	}
	.first .box{
    	margin-left: 0px;
    	width: 60%;
	}
	.first h3{
    	float: none;
    	font-size: 18px;
    	margin-left: 160px;
	}
	.first h3 font{
		font-size: 30px;
	}
	.first .add-to-cart{
    	float: none;
    	width: 60%;
    	margin-left: auto;
    	margin-right: auto;
	}
	.first .cards{
    	float: none;
    	width: 40%;
    	margin-left: auto;
    	margin-right: auto;
	}
	.first .first-para{
    	font-size: 22px;
    	margin: 6px 0px;
	}
	.first .first-para p:nth-of-type(5){
    	margin-bottom: 25px;
	}
	.second h1{
		font-size: 32px;
	}
	.second .bullets{
		font-size: 22px;
	}
	.second .bullets li:nth-of-type(6){
		margin-bottom: -15px;
	}
	.third h1{
		font-size: 30px;
	}
	.third .third-para{
    	margin: 15px 0px;
    	font-size: 20px;
	}
	.third p:nth-of-type(8){
		margin-bottom: -15px;
	}
	.flex-container{
		flex-flow: column wrap;
	}
	.flex-container-reverse{
		flex-direction: column-reverse;
	}
	.flex-container > div{
    	width: 50%;
    	margin: 20px auto;
	}
	.flex-container .all-text{
		width: 80%;
	}
	.all-text h1{
		font-size: 36px;
	}
	.all-text p{
		font-size: 25px;
	}
	.all-text pre{
		font-size: 18px;
	}
}

@media screen and (max-width: 600px){
	.header-imgs > div {
    	display: table;
    	margin-left: auto;
    	margin-right: auto;
    	margin-bottom: 20px;
	}
	.logo-img img{
    	width: 50%;
    	height: 60px;
	}
	.warr-img img{
		margin-left: auto;
		margin-right: auto;
		width: 80%
	}
	.usa-img img{
    	width: 80%;
	}
	.free-img img{
		margin-bottom: 0px;
    	margin-left: -74px;
    	width: 285%;
	}
	.menu ul li {
    	font-size: 14px;
	}
	.first h1{
    	font-size: 38px;
	}
	.first p:nth-of-type(1){
    	font-size: 22px;
	}
	.first form{
    	font-size: 24px;
	}
	.first .box{
    	width: 55%;
	}
	.first h3{
    	font-size: 16px;
    	margin-left: 140px;
	}
	.first h3 font{
    	font-size: 26px;
	}
	.first .add-to-cart{
    	width: 55%;
	}
	.first .cards{
    	width: 35%;
	}
	.first .first-para{
    	font-size: 16px;
    	margin: 3px 0px;
	}
	.second h1{
		font-size: 24px;
	}
	.second .bullets{
		font-size: 18px;
	}
	.third h1{
		font-size: 25px;
	}
	.third .third-para{
    	margin: 10px 0px;
    	font-size: 18px;
	}
	.all-text h1{
		font-size: 30px;
	}
	.all-text p{
		font-size: 22px;
	}
	.all-text pre{
		font-size: 18px;
	}
}

@media screen and (max-width: 480px){
	#container {
    	padding: 0 15px;
	}
	.header-imgs > div {
    	display: inline-block;
		margin: 5px 0;
	}
	.logo-img{
		width: 38%;
	}
	.logo-img img{
		width: 150px;
    	height: 35px;
	}
	.warr-img{
		width: 24%;
	}
	.warr-img img{
		width: 100px;
   		height: 35px;
    }
    .usa-img{
    	width: 33%;
    }
    .usa-img img{
    	width: 60px;
    	height: 33px;
    }
    .free-img{
    	width: 1%;
    }
    .free-img img{
    	width: 60px;
    	height: 27px;
    	margin-bottom: 3px;
    }
	.menu{
		margin: 12px;
	}
	.nav-btn{
		display: block;
		height: 35px;
		width: 100%;
		background: url(../img/button.png) no-repeat 98%;
    	cursor: pointer;
    	background-color: #f6921e;
	}
	.menu{
    	margin: auto;
    	border-top: none;
    	border-bottom: none;
	}
	.menu ul{
    	display: block;
    	overflow: hidden;
    	background: white;
    	height: 0;
	}
	.menu ul.open{
		height: auto;
	}
	.menu ul li{
		text-align: left;
    	font-size: 20px;
    	margin: 0;
	}
	.menu ul li a{
	    display: block;
    	padding: 10px;
    	border-bottom: 1px solid #f6921e;
   		margin: 0;
	}
	.first h1{
    	font-size: 32px;
    	margin-top: 12px;
	}
	.first p:nth-of-type(1){
    	font-size: 18px;
	}
	.first .big-img{
		margin-top: 20px;
	}
	.first form{
    	font-size: 20px;
	}
	.first .box{
    	width: 47%;
    	margin-top: 7px;
	}
	.first h3{
    	font-size: 15px;
	}
	.first h3 font{
    	font-size: 22px;
	}
	.first .first-para {
    	font-size: 15px;
    	margin: 2px 0px;
	}
	.first .first-para:nth-of-type(2){
		margin-top: 15px;
	}
	.first .first-para:nth-of-type(5) {
    	margin-bottom: 10px;
	}
	.second h1{
    	font-size: 20px;
	}
	.third h1{
    	font-size: 22px;
	}
	.third .third-para{
   	 	margin: 8px 0px;
    	font-size: 16px;
	}
	.all-text h1{
    	font-size: 23px;
	}
	.all-text pre{
    	font-size: 14px;
	}
}